*.DS_Store
.eggs/*
libpecos.egg-info/*
.idea/*
*.pyc

# Ignore all files in data/ except for the description and script files
data/*
!data/README.md
!data/proc_data_xrt/

data/proc_data_xrt/*
!data/proc_data_xrt/download_data.sh
!data/proc_data_xrt/vect_config.json

# Ignore all files in experiments/ except for the description file
experiments/*
!experiments/README.md
